<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Newcastle School Strike 4 Climate</title>
		<meta http-equiv="refresh" content="0; url={{ destination }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<p>Click the link below if you are not redirected automatically.</p>
		<p><a href="{{ destination }}">{{ destination }}</a></p>
		<script>
			var pageURL = window.location.href;
			const script = 'https://script.google.com/macros/s/AKfycbxSfC-yeb29sOur3xG1vASzShKVsG6n_L3c_dPPnbtz5wcoFFIe0afhtpSmAAjIBUap/exec'
			const scriptURL = script + '?Page=' + pageURL
			console.log(scriptURL);
    		$.get(scriptURL);
		</script>
	</body>
</html>
